/* Resetting default styles */
body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

/* Header Styles */
header {
    background-color: #f56600;
    text-align: center;
    color: white;
    padding: 20px 0;
    position: relative;
}

/* Logo Styles */
img.logo {
    max-width: 100px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

h1 {
    font-family: "papyrus", Fantasy;
    margin-top: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffd700;
}

/* Main Content Styles */
main {
    padding: 20px;
}

/* Section Styles */
section {
    color: #4f4444;
    font-family: "papyrus", Fantasy;
    margin-bottom: 30px;
}

h2 {
    font-family: italic;
    margin-top: 0;
}

/* Form Styles */
form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #f56600;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e35500;
}

/* Footer Styles */
footer {
    background-color: #f96c08;
    padding: 20px 0;
    text-align: center;
    color: white;
    font-family: "papyrus", Fantasy;
    clear: both;
}
